# Created by .ignore support plugin (hsz.mobi)
### Scala template
*.class
*.log

.gitignore
.idea/workspace.xml
backend/target/
frontend/
project/project/
project/target/
shared/.js/
shared/.jvm/
shared/src/test/
target/
